*, *::after, *::before{
  box-sizing: border-box;
}
.game-board{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}
.game-container{
  position: relative;
}


.status span{
  font-weight: bold;
}
.status button{
  padding: 5px 22px;
  border-radius: 4px;
  margin: 0 10px;
  background-color: #fff;
}

:root{
  --cell-size: 100px;
  --marker-size: calc(var(--cell-size)* .7);
}
.board{
  width: 400px;
  height: 400px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3,auto);
  position: relative;
}


.cell{
  width:var(--cell-size);
  height:var(--cell-size);
  border-width: thin;
  border-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  outline: none;
}

.cell.x, .cell.circle{
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
  border-top: none;
  border-radius: 2px;
}
.cell:nth-child(3n+1){
  border-left: none;
  border-radius: 2px;
}

.cell:nth-child(3n+3){
  border-right: none;
  border-radius: 2px;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
  border-bottom: none;
  border-radius: 2px;
}

.cell.x::before,
.cell.x::after{
  position: absolute;  
  content: '';
  width: calc(var(--marker-size)* .36);
  height: var(--marker-size);
  /* background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 100%); */
  /* background-color: #045de9; */
  
}

.cell.x::before{
  transform: rotate(45deg);
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

.cell.x::after{
  transform: rotate(-45deg);
  background-image: linear-gradient(400deg, #045de9 0%, #09c6f9 74%);
}

.cell.circle::before,
.cell.circle::after{
  position: absolute;  
  content: '';
  border-radius: 50%;
}

.cell.circle::before{
  width: var(--marker-size);
  height: var(--marker-size);
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  
}

.cell.circle::after{
  width: calc(var(--marker-size)* .3);
  height: calc(var(--marker-size)* .3);
  background-color: #fff;
}

.restart-game,.status{
  text-align: center;
}

.restart-game button{
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 17px;
  border-radius: 25px;
  margin: 0 10px;
}
.next-btn{
  background-color: #045de9;
  color:#fff;
}
.reset-btn{
  background-color: #fff;
  color:#000;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.select-btn{
  margin-bottom: 20px;
}
.btn-friend{
  padding: 6px 15px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;  
  text-decoration: none;
}
.btn-ai{
  padding: 6px 30px;
  color: #fff;
  border-radius: 10px;
  background-color: #045de9;
  text-decoration: none;
}

.marker-icon{
  transform: rotate(-90deg);
}
.marker-selection{
  background-color: inherit;
}





